<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>사용자 목록</title>
</head>
<body>
{{>layout/header}}

<h1>사용자 목록</h1>
<div class="col-md-12">
    <!-- 로그인 기능 영역 -->
    <div class="row">
        <div class="col-md-6">
            <a href="/board/save" role="button" class="btn btn-primary">글 등록</a>
            {{#userName}}
                Logged in as: <span id="user">{{userName}}</span>
                <a href="/logout" class="btn btn-info active" role="button">Logout</a>
            {{/userName}}
            {{^userName}}
                <a href="/oauth2/authorization/google" class="btn btn-success active" role="button">Google Login</a>
                <a href="/oauth2/authorization/naver" class="btn btn-secondary active" role="button">Naver Login</a>
                <a href="/oauth2/authorization/kakao" class="btn btn-dark active" role="button">Kakao Login</a>
            {{/userName}}
        </div>
    </div>
</div>

<br/>

<!-- 목록 출력 영역 -->
<table class="table table-horizontal table-bordered">
    <thead class="thead-strong">
    <tr>
        <th>게시글 번호</th>
        <th>제목</th>
        <th>작성자</th>
        <th>최종수정일</th>
    </tr>
    </thead>
    <tbody id="tbody">
    {{#boards}}
        <tr>
            <td>{{id}}</td>
            <td><a href="/board/update/{{id}}">{{title}}</a></td>
            <td>{{user.email}}</td>
            <td>{{modifiedDate}}</td>
        </tr>
    {{/boards}}
    </tbody>
</table>

{{>layout/footer}}
</body>
</html>